@model Project

@foreach(string s in Model.ConversionMessages) {
    <p>@s</p>
}

<table>
    <tr>
        <th>FileName</th>
        <th>Options</th>
    </tr>
    @foreach (ProjectFile pf in Model.Files) {
        <tr>
            <td>@pf.Name</td>
            <td><a href="../File/Download/?file=@pf.DownloadPath" >Download</a></td>
        </tr>
    }
</table>